@font-face {
  font-family: Bitwise;
  src: url("Bitwise.ttf");
}

@font-face {
  font-family: DogtownTypewriter;
  src: url("DogtownTypewriter.ttf");
}

body {
  font-family: DogtownTypewriter, sans-serif;
  letter-spacing: 1px;
  padding: 20px 0;
  margin: 0;
  box-sizing: border-box;
  background-color: beige;
  color: #555;
  user-select: none;
}
h1 {
  font-family: Bitwise, sans-serif;
}
p {
  font-size: 30px;
  margin-bottom: 15px;
}
.general-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 600px;
  background-color: whitesmoke;
  margin: 0 auto;
}
button,
input,
select {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-top: 30px;
  border: 2px solid rgb(138, 43, 226);
  border-radius: 4px;
}
input,
select {
  margin: 7px 0;
}
fieldset {
  margin: 7px 0;
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
.radio {
  display: block;
}
button:hover {
  background-color: rgb(138, 43, 226, 0.2);
}
.greece-flag {
  width: 18px;
  padding-left: 5px;
  vertical-align: middle;
}
.greece-flag-big {
  vertical-align: middle;
  padding-left: 20px;
}

header {
  display: flex;
  background-color: rgb(138, 43, 226);
  color: whitesmoke;
  padding-left: 20px;
}
main {
  padding: 20px;
}
footer {
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: auto;
}
.modal {
  display: none;
  padding: 15px;
  box-shadow: 0 0 20px #777;
  background-color: blueviolet;
  width: 400px;
  height: 380px;

  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  color: whitesmoke;
}

.small {
  font-size: 16px;
}
.medium {
  font-size: 22px;
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.bold {
  font-weight: bold;
}
.button-container {
  display: flex;
  justify-content: start;
}
.reverse {
  flex-direction: row-reverse;
}
.form-btn:hover {
  background-color: #ddd;
}
.book-btn {
  margin-top: 5px;
}
